<h1>スタッフ追加</h1>
  <%= form_with model: @staff, url: owner_restaurant_staffs_path, local:true do |f| %>
    <strong>ニックネーム</strong>
    <%= f.text_field :nick_name %>
    <strong>自己紹介</strong>
    <%= f.text_area :introduction %>
    <%= f.submit '投稿' %>
  <% end %>