/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 /*ヘッダー・フッター*/
 header{
   width: 100%;
   background: #325A8C;
   text-align: center;
   box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.5);
}

footer{
  height: 120px;
  width: 100%;
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}
.footer-text{
  color: #fff;
}

.logo{
  color: #fff;
  font-size: 50px;
}
.nav__list{
  padding: 10px 0;
  margin: 0 auto;
}
.nav__list--item {
  list-style: none;
  display: inline-block;
  margin: 0 50px;
}
.nav__list--item-link{
  color: #fff;
  text-decoration: none;
}

/*ボタン*/
.btn{
  border: none;
  outline: none;
  color: white;
  text-decoration: none;
}
.btn__orange{
  height: 40px;
  width: 80px;
  margin: 40px;
  color: #fff;
  background-color: #eb6100;
  border-radius: 100vh;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.5);
}
.btn__orange:hover{
  color: #fff;
  background: #f56500;
  border-radius: 100vh;
}
.btn__green{
  height: 40px;
  width: 80px;
  margin: 40px;
  color: #fff;
  background-color: #00CC00;
  border-radius: 100vh;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.5);
}
.btn__green:hover{
  color: #fff;
  background: #00DD00;
  border-radius: 100vh;
}
.btn__review{
  height: 40px;
  width: 200px;
  color: gray;
  margin-left: 70px;
  background-color: #FFFF00;
  border-radius: 100vh;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  line-height: 40px;
}
.btn__review:hover{
  color: gray;
  background: #FFFF77;
  border-radius: 100vh;
}
.btn__favorite{
  height: 40px;
  width: 200px;
  color: #fff;
  margin-left: 70px;
  background-color: #FF6928;
  border-radius: 100vh;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  line-height: 40px;
}
.btn__favorite:hover{
  color: #fff;
  background: #FF773E;
  border-radius: 100vh;
}

/*フォーム*/
input{
  border: 1px solid #CCCCCC;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.5);
}
.form__field{
  margin: 20px 0px;
}

/*タブ機能*/
.tab-wrap {
  display: flex;
  flex-wrap: wrap;
  margin:20px 0;
}
.tab-wrap:after {
  content: '';
  width: 100%;
  height: 3px;
  background: #325A8C;
  display: block;
  order: -1;
}
.tab-label {
  color: White;
  background: LightGray;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  padding: 10px .5em;
  order: -1;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  flex: 1;
}
.tab-label:not(:last-of-type) {
  margin-right: 5px;
}
.tab-content {
  width: 100%;
  height: 0px;
  overflow: hidden;
  opacity: 0;
}
.tab-switch:checked+.tab-label {
  background: #325A8C;
}
.tab-switch:checked+.tab-label+.tab-content {
  height: auto;
  overflow: auto;
  padding: 15px;
  opacity: 1;
  transition: .5s opacity;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.tab-switch {
  display: none;
}


main {
  width: 90%;
  justify-content: center;
  margin: 0 auto;
  padding: 70px 0;
}
.container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.restaurant{
  height: fit-content;
  width: 100%;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
}
.restaurant__item{
  margin-right: 30px;
}


/*画像*/
.restaurant__item--small-img{
  height: 220px;
  width: 220px;
  margin-left: 30px;
}
.restaurant__item--small-img img{
  width: 100%;
}
.small-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -15px; 
  margin-bottom: 30px
}

/*スライドショー*/
.slider{
  padding-top: 20px;
  width: 600px !important;
}
.slick-dots{
  width: 600px !important;
}

/*装飾*/
.border{
  border: 2px solid gray;
  border-radius: 10px;
}
.shadow{
   box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.5);
}
.text{
  word-break:break-all;
  overflow-wrap:break-word;
}
.row{
  display: flex;
}
.center{
  text-align: center;
}
.label {
  background-color: #337ab7;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.tag-box{
  text-decoration: none;
}
a{
  text-decoration: none;
}